#PrimaryAppSplash {
	position: absolute;
	display: grid;
	grid-template-rows: 38px auto 48px;
	padding: 0;
	margin: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
	transition: all ease 400ms;
	opacity: 1;
	z-index: 999999;
}

#SplashScreen {
	display: flex;
	position: absolute;
	transition: all ease 1s;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	max-width: 100%;
	background-color: var(--splash-primary);
	color: var(--splash-secondary);
	z-index: 11;
	filter: blur(0px);
	overflow: auto;
}

	#SplashScreen.closing {
		background-color: rgba(0, 0, 0, 0);
		filter: blur(30px);
		opacity: 0;
	}

	#SplashScreen > div {
		display: grid;
		align-items: center;
		width: 90%;
		max-width: 1600px;
		grid-template-columns: 33% 1fr;
		margin: auto;
		grid-gap: 20px;
	}

		#SplashScreen > div > img {
			border: none;
			max-width: 100%;
			margin: auto;
			width: 100%;
		}

		#SplashScreen > div > div > h1 {
			min-width: 200px;
			font-size: 23px;
		}

		#SplashScreen > div > div > h2 {
			font-size: 16px;
		}

	#SplashScreen .splashContent {
		position: relative;
	}

	#SplashScreen .nowLoading {
		min-width: 120px;
		right: 0;
		margin: 10px 0 0 0;
		font-size: 14px;
	}

		#SplashScreen .nowLoading i {
			margin: 0 0 0 10px;
			width: 14px;
			height: 14px;
		}

	#SplashScreen > h1,
	#SplashScreen > h2,
	#SplashScreen > h3 {
		transition-duration: 300ms;
		transform: rotateX(0deg);
		opacity: 1;
	}

	#SplashScreen:not(.loaded) > h1,
	#SplashScreen:not(.loaded) > h2,
	#SplashScreen:not(.loaded) > h3 {
		opacity: 0;
		transform: rotateX(90deg);
	}

	#SplashScreen .page:after {
		content: none;
	}

	#SplashScreen header {
		display: grid;
		grid-template-columns: 24px 1fr;
	}

	#SplashScreen .nowLoading header i {
		margin: -15px 0 0 -29px;
		width: 50px;
		height: 50px;
		font-size: 50px;
		top: 4px;
		transform: rotateY(-18deg);
	}

	#SplashScreen .appLoadingError header i {
		font-size: 36px;
		width: 36px;
		height: 36px;
		margin: 0 0 0 -20px;
		transform: perspective(1cm) rotateX(-2deg) rotateY(30deg) translate3d(-0px, 0px, 0px) scale(1.2);
	}

	#SplashScreen .page {
		background-color: transparent;
	}

@media (orientation: portrait) {
	#SplashScreen > div {
		width: 95%;
		grid-template-columns: 1fr;
		min-height: 100%;
	}

		#SplashScreen > div > img {
			position: absolute;
			width: 80%;
			left: 10%;
			top: 20px;
		}

	#SplashScreen .splashContent {
		position: absolute;
		bottom: 20px;
		left: 0;
		right: 0;
		margin-top: 0;
		padding: 0 30px;
		max-height: 80%;
	}

	#SplashScreen .nowLoading {
		text-align: right;
		display: block;
		width: 100%;
	}

	#SplashScreen .appLoadingError {
		margin-top: -85%;
	}
}
